<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid grew;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 80%;
}

</style>
    <body>
    <h3 align="center">Rust Rolladen<h3/>
        <form method="post" action="/">
            <table style="width:100%">
                <tr>
                    <th><input type="submit" class="button" value="UG_SCHLAFEN AUF" name="action1"/></th>
                    <th><input type="submit" class="button" value="UG_SCHLAFEN AB" name="action2" /></th>
                </tr>
                <tr>
                    <th><input type="submit" class="button" value="UG_KIND AUF" name="action3"/></th>
                    <th><input type="submit" class="button" value="UG_KIND AB" name="action4"/></th>
                </tr>
                <tr>
                    <th><input type="submit" class="button" value="UG_KOCHEN_WOHNEN AUF" name="action5"/></th>
                    <th><input type="submit" class="button" value="UG_KOCHEN_WOHNEN AB" name="action6"/></th>
                </tr>
                <tr>
                    <th><input type="submit" class="button" value="OG_BUERO AUF" name="action7"/></th>
                    <th><input type="submit" class="button" value="OG_BUERO AB" name="action8"/></th>
                </tr>
                <tr>
                    <th><input type="submit" class="button" value="OG_SCHLAFEN AUF" name="action9"/></th>
                    <th><input type="submit" class="button" value="OG_SCHLAFEN AB" name="action10"/></th>
                </tr>
                <tr>
                    <th><input type="submit" class="button" value="OG_KOCHEN AUF" name="action11"/></th>
                    <th><input type="submit" class="button" value="OG_KOCHEN AB" name="action12"/></th>
                </tr>
                <tr>
                    <th><input type="submit" class="button" value="OG_WOHNEN AUF" name="action13"/></th>
                    <th><input type="submit" class="button" value="OG_WOHNEN AB" name="action14"/></th>
                </tr>
                <tr>
                    <th><input type="submit" class="button" value="OG_BAD AUF" name="action15"/></th>
                    <th><input type="submit" class="button" value="OG_BAD AB" name="action16"/></th>
                </tr>
            </table>
        </form>
    </body>
</html>

